<div class="cardscroll">
  <div class="marquee_track">
    <a href="/projects/nueco" class="cardlink w-inline-block">
      <div
        data-w-id="b3f45ef5-b945-2ab6-5bcd-6b6d3b1cc4df"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
          opacity: 1;
        "
        class="projectcard firstcard"
      >
        <div class="cardimage">
          <img
            src="/image/62fd7474f8f546108cf9413d_nuecoprojectcard.png"
            loading="eager"
            sizes="(max-width: 479px) 65vw, (max-width: 767px) 50vw, 28vw"
            srcset="
              ./image/62fd7474f8f546108cf9413d_nuecoprojectcard-p-500.png 500w,
              ./image/62fd7474f8f546108cf9413d_nuecoprojectcard-p-800.png 800w,
              ./image/62fd7474f8f546108cf9413d_nuecoprojectcard.png       816w
            "
            alt=""
          />
        </div>
        <div class="div-block-4">
          <div class="h3 extend">The Nue Co</div>
        </div>
        <div class="div-block-12">
          <div class="div-block-2">
            <div class="tagblock">
              <div class="tag">
                <div class="h4 hp">eCommerce</div>
              </div>
              <div class="tag">
                <div class="h4 hp">Visual Language</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/projects/americana" class="cardlink hide w-inline-block">
      <div
        data-w-id="5146be6f-3a1a-c3bd-5a0f-98294d86049f"
        style="
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
        "
        class="projectcard americanacard hp"
      >
        <div class="cardimage">
          <img
            src="/image/62fd3a6e7e727b8147ca47a1_AmericanaProjectCArd.jpg"
            loading="eager"
            sizes="(max-width: 479px) 65vw, (max-width: 767px) 50vw, 27vw"
            srcset="
              ./image/62fd3a6e7e727b8147ca47a1_AmericanaProjectCArd-p-500.jpg 500w,
              ./image/62fd3a6e7e727b8147ca47a1_AmericanaProjectCArd-p-800.jpg 800w,
              ./image/62fd3a6e7e727b8147ca47a1_AmericanaProjectCArd.jpg       816w
            "
            alt=""
          />
        </div>
        <div class="div-block-5">
          <div class="h3">Americana</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock hp">
              <div class="tag">
                <div class="h4 hp">Visual Identity</div>
              </div>
              <div class="tag">
                <div class="h4 hp">Digital Product</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/projects/momentous" class="cardlink hide w-inline-block">
      <div
        data-w-id="2c1ed3e3-37a8-1890-10ad-fa4a0f51b388"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
          opacity: 1;
        "
        class="projectcard americanacard momentouscard"
      >
        <div class="cardimage">
          <img
            src="/image/655ceb7993c893f0c5c9ce8c_logo2.svg"
            loading="eager"
            alt=""
            class="momentouscardimg"
          />
        </div>
        <div class="div-block-5">
          <div class="h3 white">Momentous</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock hp whitetype">
              <div class="tag whitetype">
                <div class="h4 hp white">Visual Identity</div>
              </div>
              <div class="tag whitetype">
                <div class="h4 hp white">eCommerce</div>
              </div>
              <div class="tag whitetype">
                <div class="h4 hp white">Packaging</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/projects/offhours" class="cardlink w-inline-block">
      <div
        data-w-id="6b82346e-b2e0-c241-2e34-bc0f8cbc7160"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
          opacity: 1;
        "
        class="projectcard ohcard hp"
      >
        <div class="cardimage">
          <img
            src="/image/62fd3a49212fdee2f6781e70_OHProjectCArd.jpg"
            loading="eager"
            sizes="(max-width: 479px) 65vw, (max-width: 767px) 50vw, 28vw"
            srcset="
              ./image/62fd3a49212fdee2f6781e70_OHProjectCArd-p-500.jpg 500w,
              ./image/62fd3a49212fdee2f6781e70_OHProjectCArd-p-800.jpg 800w,
              ./image/62fd3a49212fdee2f6781e70_OHProjectCArd.jpg       816w
            "
            alt=""
          />
        </div>
        <div class="whitetype">
          <div class="h3 white">Offhours</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock whitetype">
              <div class="tag whitetype">
                <div class="h4 whitetype hp">Visual Identity</div>
              </div>
              <div class="tag whitetype">
                <div class="h4 whitetype hp">eCommerce</div>
              </div>
              <div class="tag whitetype hide">
                <div class="h4 whitetype hp">Physical</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/projects/usual" class="cardlink w-inline-block">
      <div
        data-w-id="5b0f7fe9-e897-b1ef-6015-388633dd6ebc"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
        "
        class="projectcard usualcard"
      >
        <div class="cardimage">
          <img
            src="/image/62fd3b8ad386f61f8e314bd6_UsualProjectCard.jpg"
            loading="eager"
            sizes="(max-width: 479px) 65vw, (max-width: 767px) 50vw, 28vw"
            srcset="
              ./image/62fd3b8ad386f61f8e314bd6_UsualProjectCard-p-500.jpg 500w,
              ./image/62fd3b8ad386f61f8e314bd6_UsualProjectCard-p-800.jpg 800w,
              ./image/62fd3b8ad386f61f8e314bd6_UsualProjectCard.jpg       816w
            "
            alt=""
          />
        </div>
        <div class="div-block-7">
          <div class="h3">Usual</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock">
              <div class="tag">
                <div class="h4 hp">Visual Identity</div>
              </div>
              <div class="tag hide">
                <div class="h4 hp">Packaging</div>
              </div>
              <div class="tag">
                <div class="h4 hp">eCommerce</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/projects/format" class="cardlink w-inline-block">
      <div
        data-w-id="669f7e04-af40-bac2-caf5-f45ae7bfa990"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
          opacity: 1;
        "
        class="projectcard formatcard"
      >
        <div class="cardimage">
          <img
            src="/image/62fd390d39f5d129ce79d1d3_formatprojectcard.jpg"
            loading="eager"
            sizes="(max-width: 479px) 65vw, (max-width: 767px) 50vw, 28vw"
            srcset="
              ./image/62fd390d39f5d129ce79d1d3_formatprojectcard-p-500.jpg 500w,
              ./image/62fd390d39f5d129ce79d1d3_formatprojectcard-p-800.jpg 800w,
              ./image/62fd390d39f5d129ce79d1d3_formatprojectcard.jpg       816w
            "
            alt=""
          />
        </div>
        <div>
          <div class="h3 white">Format</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock whitetype">
              <div class="tag whitetype">
                <div class="h4 whitetype hp">Visual Identity</div>
              </div>
              <div class="tag whitetype">
                <div class="h4 whitetype hp">Website</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/projects/petal" class="cardlink w-inline-block">
      <div
        data-w-id="3e0a761e-7d6c-0f3d-e3cb-8cef62dc6476"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
          opacity: 1;
        "
        class="projectcard petalcard"
      >
        <div class="cardimage">
          <img
            src="/image/6306bf94fb42aa93bb8fddf5_PetalProjectCard-comp.png"
            loading="eager"
            sizes="(max-width: 479px) 65vw, (max-width: 767px) 50vw, 28vw"
            srcset="
              ./image/6306bf94fb42aa93bb8fddf5_PetalProjectCard-comp-p-500.png 500w,
              ./image/6306bf94fb42aa93bb8fddf5_PetalProjectCard-comp.png       816w
            "
            alt=""
          />
        </div>
        <div class="div-block-6">
          <div class="h3">Petal</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock">
              <div class="tag">
                <div class="h4 hp">Visual Identity</div>
              </div>
              <div class="tag">
                <div class="h4 hp">Website</div>
              </div>
              <div class="tag hide">
                <div class="h4 hp">Card Design</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/projects/clever" class="cardlink w-inline-block">
      <div
        data-w-id="f7f617b7-7916-2c70-aaad-59ffe8c60768"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
        "
        class="projectcard clevercard"
      >
        <div class="cardimage">
          <img
            src="/image/6306c005bbb316ced626a9c4_CleverProjectCard%20(1).png"
            loading="eager"
            sizes="(max-width: 479px) 65vw, (max-width: 767px) 50vw, 28vw"
            srcset="
              ./image/6306c005bbb316ced626a9c4_CleverProjectCard%20(1)-p-500.png 500w,
              ./image/6306c005bbb316ced626a9c4_CleverProjectCard%20(1).png       816w
            "
            alt=""
          />
        </div>
        <div class="div-block-8">
          <div class="h3">Clever</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock">
              <div class="tag">
                <div class="h4 hp">Visual Identity</div>
              </div>
              <div class="tag">
                <div class="h4 hp">Publication</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/david-mcgillivray-archive.html" class="cardlink w-inline-block">
      <div
        data-w-id="c98225b5-a984-5e8c-9e4e-94a096051d26"
        style="
          -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
            rotateZ(0) skew(0, 0);
        "
        class="projectcard archive"
      >
        <div class="cardimage archive">
          <img
            src="/image/6302aaeb22ce74464bd5fa4a_ARCHIVEICONLARGE.svg"
            loading="eager"
            alt=""
            class="image-17 archivecard"
          />
        </div>
        <div class="div-block-8">
          <div class="h3">Archive</div>
        </div>
        <div>
          <div class="div-block-2">
            <div class="tagblock hide archive">
              <div class="tag">
                <div class="h4">Visual Identity</div>
              </div>
              <div class="tag">
                <div class="h4">Publication</div>
              </div>
            </div>
            <div class="h4 archivelabel">2008—2022</div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="cardlink w-inline-block"></a>
  </div>
</div>
